<table class="table" (submit)="modificar()">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of productos; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.precio}}</td>
        <td><button type="submit" class="btn btn-primary">Modificar</button></td>
    </tr>
    </tbody>
</table>
