<div class="container">
    <p>PRODUCTOS</p>
    <hr>
    <div class="row">
        <div class="col-6">
            <app-agregar-producto></app-agregar-producto>
        </div>
        <div class="col-6">
            <app-listar-productos></app-listar-productos>
        </div>
        <div class="col-6">
            <app-eliminar-producto></app-eliminar-producto>
        </div>
        <div class="col-6">
            <app-modificar-producto></app-modificar-producto>
        </div>
    </div>
    
</div>
