<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">M G</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" routerLink="productos">Productos</a>
                    <a class="nav-link" routerLink="agregar">Agregar</a>
                    <a class="nav-link" routerLink="modificar">Modificar</a>
                    <a class="nav-link" routerLink="eliminar">Eliminar</a>
                </div>
            </div>
        </div>
    </nav>
    
    <router-outlet></router-outlet>    
</div>
